streamlit==1.46.0
pandas==2.3.0
numpy==2.3.1
requests==2.32.4
pillow==11.2.1
pydeck==0.9.1
altair==5.5.0
plotly
streamlit_geolocation
transformers
scikit-learn
matplotlib
jinja2==3.1.6
python-dateutil==2.9.0.post0
pytz==2025.2
packaging==25.0
tenacity==9.1.2
